<html xmlns:th="http://www.thymeleaf.org" th:include="~{admin/layout/layout.html :: layout (~{::body},'home')}">
<head></head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <div class="main-container">
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <a href="/training/active" type="button" class="btn btn-success text-uppercase">Aktİv Təlİmlər</a>
                    <a href="/training/create" class="btn btn-primary text-uppercase">Yeni Təlİm</a>
                    <a href="/training/finished" type="button" class="btn btn-danger text-uppercase">Bİtmİş Təlİmlər</a>
                </div>
            </div>
        </div>
    </div>
    <div class="main-container">
        <div class="main-card-row-container">
            <div class="row">
                <div th:each="training : ${trainings}" class="col-3">
                    <div class="card">
                        <img th:src="@{'/file/'+${training.imageCover}}" class="card-img-top" alt="Cover Image">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${training.header}"></h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" th:text="${training.startDate}"><b>Tarix: </b></li>
                            <li class="list-group-item" th:text="${training.startTime}"><b>Saat: </b></li>
                            <li class="list-group-item" th:text="${training.lastRegistrationDay}"><b>Son qeydiyyat
                                tarixi: </b></li>
                            <li class="list-group-item" th:text="${training.trainerName}"><b>Təlimçi:</b></li>
                            <li class="list-group-item" th:text="${training.trainingPrice}"><b>Qiymət:</b></li>
                            <li class="list-group-item" th:text="${training.status}"><b>Status:</b></li>
                        </ul>
                        <div class="card-body text-center">
                            <a th:href="@{{id}(id=${training.id})}" class="card-link text-uppercase">Ətraflı
                                Məlumat</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>