<html xmlns:th="http://www.thymeleaf.org" th:include="~{admin/layout/layout.html :: layout (~{::body},'home')}">
<head></head>
<body>
<div class="container">
    <div class="main-container">
        <div class="row">
            <!--/*@thymesVar id="projectEntity" type="az.webapp.colorbrain.model.entity.ProjectEntity"*/-->
            <form action="#" th:object="${projectEntity}" th:action="@{'/project/create'}" method="post">
                <div th:include="/admin/layout/project/projectForm::createForm"></div>
            </form>
        </div>
    </div>
</div>
</body>
</html>