<html xmlns:th="http://www.thymeleaf.org" th:include="~{admin/layout/layout.html :: layout (~{::body},'home')}">
<head></head>
<body>
<div class="container">
    <div class="main-container">
        <div class="row">
            <!--/*@thymesVar id="trainingEntity" type="az.webapp.colorbrain.model.entity.TrainingEntity"*/-->
            <form th:object="${trainingEntity}" th:action="@{'/training/update'}" method="post">
                <input type="hidden" name="id" th:value="${trainingEntity.id}">
                <div th:include="/admin/layout/training/trainingForm::updateFrom"></div>
            </form>
            <a style="color: white" th:href="@{/training/{id}/files(id=${trainingEntity.id})}"
               class="btn btn-warning text-uppercase mb-3">Fayllarda
                dəyİşİklİk et</a>
            <form th:object="${trainingEntity}" th:action="@{'/training/delete'}" method="post">
                <input type="hidden" name="id" th:value="${trainingEntity.id}">
                <div class="row d-flex justify-content-center">
                    <input type="submit" class="btn btn-danger text-uppercase"
                           th:value="${trainingEntity.status}? 'Təlİmİ ləğv et':'Təlİmİ sİl' ">
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    window.onload = function dateConverter() {
        var createdAtLabel = document.getElementById("createdAtLabel")
        var updatedAtLabel = document.getElementById("updatedAtLabel")
        var deletedAtLabel = document.getElementById("deletedAtLabel")

        createdAtLabel.setAttribute("value", createdAtLabel.value.replace("T", " ").substring(0, 16))
        updatedAtLabel.setAttribute("value", updatedAtLabel.value.replace("T", " ").substring(0, 16))
        deletedAtLabel.setAttribute("value", deletedAtLabel.value.replace("T", " ").substring(0, 16))
    }
</script>
</body>
</html>