<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="updateForm">
    <div class="row">
        <div class="mb-3 col-6">
            <label for="headerLabel" class="form-label text-uppercase">Başlıq</label>
            <p style="display: inline" th:if="${#fields.hasErrors('header')}" class="text-danger fw-bolder"
               th:errors="*{header}"></p>
            <input th:value="${projectEntity.header}" name="header" type="text" class="form-control" id="headerLabel">
        </div>
        <div class="row">
            <div class="col-12">
                <label for="editor" class="form-label text-uppercase">Məlumat</label>
                <p style="display: inline" th:if="${#fields.hasErrors('context')}" class="text-danger fw-bolder"
                   th:errors="*{context}"></p>
                <textarea th:text="${projectEntity.context}" name="context" class="form-control" id="editor"
                          rows="3"></textarea>
            </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="mb-3 col-4 text-center">
                    <label style="margin: 0" for="createdAtLabel" class="form-label text-uppercase">Created
                        At</label>
                    <input th:value="${projectEntity.createdAt}" name="createdAt" type="text" disabled class="form-control"
                           id="createdAtLabel">
                </div>
                <div class="mb-3 col-4 text-center">
                    <label style="margin: 0" for="updatedAtLabel" class="form-label text-uppercase">Updated
                        At</label>
                    <input th:value="${projectEntity.updatedAt}" name="updatedAt" type="text" disabled class="form-control"
                           id="updatedAtLabel">
                </div>
            </div>
                <div class="mb-3 d-flex justify-content-center">
                    <div class="form-check form-switch">
                        <input class="form-check-input text-uppercase" name="status" th:checked="${projectEntity.status}"
                               type="checkbox" id="flexSwitchCheckDefault2">
                        <label class="form-check-label text-uppercase" for="flexSwitchCheckDefault2">Status</label>
                    </div>
                </div>
                <input type="submit" class="btn btn-success text-uppercase" value="Dəyİşİklİyİ Yadda Saxla">
        </div>
</div>
</div>

<div th:fragment="createForm">
            <div class="row">
                <div class="mb-3 col-6">
                    <label for="headerLabel" class="form-label text-uppercase">Başlıq</label>
                    <p style="display: inline" th:if="${#fields.hasErrors('header')}" class="text-danger fw-bolder"
                       th:errors="*{header}"></p>
                    <input th:field="*{header}" name="header" type="text" class="form-control" id="headerLabel">
                </div>
                <div class="row">
                    <div class="col-12">
                        <label for="editor" class="form-label text-uppercase">Məlumat</label>
                        <p style="display: inline" th:if="${#fields.hasErrors('context')}" class="text-danger fw-bolder"
                           th:errors="*{context}"></p>
                        <textarea th:field="*{context}" name="context" class="form-control" id="editor"
                                  rows="3"></textarea>
                    </div>
                    </div>
                <div class="row d-flex justify-content-center">
                    <div class="mb-3 col-3 text-center">
                        <label style="margin: 0" for="createdAtLabel" class="form-label text-uppercase">Created
                            At</label>
                        <input name="createdAt" type="text" disabled class="form-control"
                               id="createdAtLabel">
                    </div>
                    <div class="mb-3 col-3 text-center">
                        <label style="margin: 0" for="updatedAtLabel" class="form-label text-uppercase">Updated
                            At</label>
                        <input name="updatedAt" type="text" disabled class="form-control"
                               id="updatedAtLabel">
                    </div>
                </div>
                    <div class="mb-3 d-flex justify-content-center">
                        <div class="form-check form-switch">
                            <input class="form-check-input text-uppercase" checked disabled name="status"
                                   type="checkbox" id="flexSwitchCheckDefault2">
                            <label class="form-check-label text-uppercase" for="flexSwitchCheckDefault2">Status</label>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-success text-uppercase" value="Yadda Saxla">
            </div>
       </div>
</div>
</html>
